:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(23, 1, 1, 0.87);
  background-color: gray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
  background-color: lavender;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 30px;
  max-width: 90%;
  width: 600px;
  box-shadow: 10px 10px 4px rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  margin: auto;
  text-align: center;
}
p {
  font-size: 24px;
  font-weight: bold;
  color: #0f172a;
  line-height: 1.5;
}
.star {
  cursor: pointer;
  margin: 0 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}
.star:hover {
  transform: scale(1.2);
}
.rating-msg {
  color: #374151;
  font-size: 18px;
  font-weight: 400;}


